@import "components/color.scss";

@mixin size-control($padding,$font-size,$line-height) {
  padding: 0 $padding;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin color-schema($color,$color-dark, $color-light) {
  &.solid {
    @if $color == $gray {
      color: $gray-font;
    } @else {
      color: $common;
    }
    background: $color;
    border: none;
    box-shadow: 0 0 0 1px $color;
    font-weight: 500;
  }

  &.outline {
    border: solid 1px $color-dark;
    color: $color-dark;
    background: $common;
  }

  &:not([disabled]):hover {
    &.solid {
      background: $color-dark;
      box-shadow: 0 0 0 1px $color-dark;
    }

    &.outline {background: $color-light;}
  }

  &[disabled] {
    cursor: no-drop;
    opacity: 0.4;
  }
}

.ice-button {
  white-space: nowrap;
  cursor: pointer;
  transition: all 250ms;
  border-radius: 0.375em;

  // size 控制
  &.default {@include size-control(12px, 14px, 32px);}

  &.small {@include size-control(8px, 12px, 24px);}

  &.large {@include size-control(16px, 16px, 40px);}

  // colorSchema 控制
  &.gray {@include color-schema($gray, $gray-dark, $gray-light);}

  &.green {@include color-schema($green, $green-dark, $green-light);}

  &.red {@include color-schema($red, $red-dark, $red-light);}

  &.orange {@include color-schema($orange, $orange-dark, $orange-light);}

  &.blue {@include color-schema($blue, $blue-dark, $blue-light);}

}
