$gray-font: #1a202c;
$gray: #edf2f7;
$gray-dark: #e2e8f0;
$gray-light: #edf2f7;

$blue: #3182ce;
$blue-dark: #2b6cb0;
$blue-light: #ebf8ff;

$green: #22c35e;
$green-dark: #179848;
$green-light: #f0fff4;

$red: #e53e3e;
$red-dark: #c53030;
$red-light: #fff5f5;

$orange: #dd6b20;
$orange-dark: #c05621;
$orange-light: #fffaf0;

$common: #ffffff
