*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 16px 20px;

  section .wrapper {
    margin: 20px;

    > button {
      &:not(:first-child) {margin-left: 16px;}
    }
  }
}
